<div class="container d-flex justify-content-center flex-column align-items-center text-center" id="sign-up-form">
  <div><h2>Edit <%= resource_name.to_s.humanize %></h2></div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs p-3">
      <%= f.input :email, placeholder: "Enter your E-Mail", label: false, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, placeholder: "Enter a new password", label: false,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation, placeholder: "Confirm your new password", label: false,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password, placeholder: "Enter your current password", label: false,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :first_name, placeholder: "Enter your first name", label: false,
                  required: false,
                  autofocus: true %>
      <%= f.input :last_name, placeholder: "Enter your last name", label: false,
                  required: false,
                  autofocus: true  %>
    </div>

    <div class="form-actions" id="edit-button">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>
