<h1>Matched Recipes</h1>

<div class= "container ">
  <div class="cards col-lg-12">
  <% @recipes.each do |recipe| %>
    <div class="images card">
      <div class="card-img-top">
        <div class="recipe" data-id="<%= recipe.id %>">
          <%= image_tag(recipe.image) %>
          </div>
        <div class="card-body">
          <p><%= link_to "#{recipe.name}", recipe_path(recipe.id) %></p>
        </div>
        </div>
      </div>
  <% end %>
</div>

  <div class="btn btn-primary" id="match_button">
    <%= link_to "Match", recipe_requests_path(current_user), method: :post  %>
  </div>


  <%= form_for :requests, url: recipe_requests_path(current_user) do |f| %>
  <%= f.hidden_field :recipes, value: [] %>
  <%= f.submit class: "btn btn-primary", id: "match_button" %>
  <% end %>
</div>



