<%= render 'shared/popover' %>

<div>
  <% @combined_ingredients.each do |ingredient| %>
  <ul id="results" class="hide-ingredient">
    <li><%= ingredient.join(",") %></li>
  </ul>
  <% end %>
</div>

<div class="recipe-index-title"><h1>Matched Recipes</h1></div>
<div class= "container">
  <div class="cards col-lg-12" id="display-recipes">
    <!-- div for recipes-cards -->
  </div>
</div>

<div class="sticky-bar" style="display: none;">
  <div class="container">
    <% if current_user %>
    <%= form_for :recipes, url: recipes_path(recipe: params[:requests]), method: "post", :html => { class: "d-flex justify-content-end text-container" } do |f| %>
    <h5 class="display"></h5>
    <%= f.hidden_field :ingredients, value: params[:ingredients] %>
    <%= f.hidden_field :recipes, value: [] %>
    <%= f.submit class: "btn btn-primary", id: "match_button" %>
    <% end %>
    <% else %>
    <%= form_for :recipes, url: new_user_session_path, method: :post, :html => { class: "d-flex justify-content-end text-container" } do |f| %>
    <h5 class="display"></h5>
    <%= f.hidden_field :ingredients, value: params[:ingredients] %>
    <%= f.hidden_field :recipes, value: [] %>
    <%= f.submit class: "btn btn-primary", id: "match_button" %>
    <% end %>
    <% end %>
  </div>
</div>
