<% if(defined? params[:id]) %>
<% current_user = User.find_by(id: params[:id])%>
<% end %>

<div class="d-flex justify-content-around" id="profile">
  <div class="" id="contact-info">
    <div class="d-flex" id="image">
      <% if current_user.image? %>
      <%= image_tag(current_user.image, class: "dashboard-avatar")%>
      <% else %>
      <%= image_tag("http://morrisinsurancegroup.com/wp-content/uploads/2018/01/blank-avatar.png", class: "dashboard-avatar") %>
      <% end %>
    </div>
    <div class="mx-4" id="info">
      <div class="">
        <h2>Contact details</h2>
        <div><%=current_user.email %></div>
        <div>+49 1575 9625920</div>
      </div>
      <div class="recipe-index-title"><h3>Meetups</h3></div>
      <div id="matched-recipes">
        <div class="cards images card" id="matched-recipes-cards">
          <% @outgoing = Meetup.where(host_id: current_user.id) %>
          <% @incoming = Meetup.where(guest_id: current_user.id) %>
          <% @past = Meetup.where.not(status: "pending") %>

          <% @outgoing.each do |meetup| %>
          <% if meetup.status == "pending" %>
          <div class="card-img-top meetup-column">
            <div class="recipe">

              <%="You sent a request to #{User.find(meetup.guest_id).first_name.capitalize}"%>
            </div>
            <div class="card-body meetup-column">
           <p class="badge badge-warning"><%= meetup.status.capitalize %> </p>
             <%= link_to "Cancel", meetup_path(meetup_id: meetup.id), method: :delete, class: "btn btn-failure request-button" %>
           </div>
         </div>
         <% end %>
         <% end %>
         <% @incoming.each do |meetup| %>
         <% if meetup.status == "pending" %>
         <div class="card-img-top meetup-column">
          <div class="recipe">
            <%="You got a request from: #{User.find(meetup.host_id).first_name.capitalize}"  %>
          </div>
          <div class="card-body" style="padding: 60px;">
            <p class="badge badge-warning"><%= meetup.status %> </p>
            <%= link_to "Decline", meetup_path(status: "declined",  meetup_id: meetup.id), method: :patch, class: "btn btn-primary request-button" %>
            <%= link_to "Accept", meetup_path(status: "accepted", meetup_id: meetup.id), method: :patch, class: "btn btn-primary request-button" %>
          </div>
        </div>
        <% end %>
        <% end %>
        <% @past.each do |meetup| %>
        <div class="card-img-top meetup-column">
          <div class="card-body" style="padding: 60px;">
            <p class="badge badge-success"> <%= meetup.status %> </p>
            <% if meetup.status == "accepted" %>
            <% if meetup.guest_id == current_user.id %>
                <div class="">
                  <h3> <%= "Contact #{User.find(meetup.host_id).first_name} today! " %></h3>
                  <p><%= "Their email: #{User.find(meetup.host_id).email}" %></p>
                   <p>Their phone number:<br>+49 172 0903217</p>
                </div>
              <%= link_to "Write review", new_review_path(meetup_id: meetup.id, user_id: meetup.host_id), class: "btn btn-secondary request-button" %>
              <% else %>
                <div class="">
                 <h3> <%= "Contact #{User.find(meetup.guest_id).first_name} today! " %></h3>
                 <p><%= "Their email: #{User.find(meetup.guest_id).email}" %></p>
                  <p>Their phone number:<br>+49 172 90903217</p>
                </div>
              <%= link_to "Write review", new_review_path(meetup_id: meetup.id, user_id: meetup.guest_id), class: "btn btn-secondary request-button" %>
            <% end %>
            <% end %>
          </div>
        </div>
        <% end %>
        <div>
        <% if (@past.size == 0 && @incoming.size == 0 && @outgoing.size == 0)  %>
          <h6>No meetups yet!</h6>
          <a class="btn btn-primary" href="/#choose-ingredients">Let me do it again!</a>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-column" id="info-table">
  <div id="edit-button-layout">
  <div><h1 id="intro">Hello, I am <%= current_user.first_name.capitalize %>!</h1></div>
  <% if @user %>
    <%= form_for @user, url: edit_user_registration_path(@user), method: :get do |f| %>
      <%= f.hidden_field :recipes, value: [] %>
      <%= f.submit "Edit your profile", class: "btn btn-primary", id: "edit_button" %>
    <% end %>
  <% end %>
  </div>
  <div><p>Member since <%= current_user.created_at.year %></p></div>
  <div id="basic-info">
    <h2>Bio</h2>
    <p class="mb-5">
      I've been living in Berlin for the past three years, and I cannot get enough. Between the food, people, and the music, I can't ask for anything better. Sadly though, I haven't been able to cook at home as much as I'd like to. That's why I signed up on Egg & Flour! I love to cook, but have trouble doing it just for myself.

      I'd love to show you my home culture with my food, so I hope that we get to experience that together!

      Sincerely, <%= current_user.first_name.capitalize %></p>
      <div class="mb-4"><p><i class="fas fa-home"></i> Lives in <%= current_user.address %></p></div>
      <div class="col-lg-12 px-0">
        <%= render 'shared/map' %>
      </div>
    </div>
  </div>

</div>
<div class="mx-4">
  <div id="review-container">
    <div id="title"><h3>Reviews</h3></div>
    <% @reviews = Review.where(for_user_id: current_user.id) %>

    <% @reviews.each do |review| %>
      <div class="card" id="review-card">
      <div class="card-body flex-grow-1">
         <%= "From: #{User.find(review.user_id).first_name}"%>
        <h5 class="title"><%= review.content%></h5>

        <h5><%= select_tag(:rating, options_for_select((1..5).to_a  , review.rating), class: 'review_rating', id: "") %>
        </h5>

      </div>
    </div>
    <% end %>
    <% if @reviews.size == 0%>
      <h6 style="font-style: italic; font-weight: 100; text-align: center;">You don't have any reviews.</h6>
    <% end %>
  </div>
</div>
