<div class="container">
  <div class="row">
  <div class="cards col-xs-6">
    <% @matches[0].each do |m, index| %>
      <%= link_to recipe_request_path(id: m.id) do %>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
            <%= image_tag User.find_by(id: m.user_id).image, class: "card-img"%>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= User.find_by(id: m.user_id).first_name%></h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
      <div class= "col-xs-6" id="map" style="width: 500px; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
