<div class="landing">
  <div class="images">
    <%=  image_tag("landing/img1.jpg", id: "img1") %>
    <%=  image_tag("landing/img2.jpg", id: "img2") %>
    <%=  image_tag("landing/img3.jpg", id: "img3") %>
    <%=  image_tag("landing/img4.jpg", id: "img4") %>
  </div>
  <div class="text">
    <h1>Egg & Flour</h1>
    <h2>Share an experience with new people around you.</h2>
    <a class="btn btn-primary" href="#choose-ingredients">Start Cooking</a>
  </div>
</div>
<div id="choose-ingredients">
  <!-- <div class="chooser"> -->


      <div id="container"><div class="checkboxes"><div class="text-content">
      <h2>Share an experience with new people around you.</h2>
      <a class="btn btn-primary" id="find-recipies">Find Recipe</a>
      <!-- <%= link_to "Find Recipe", recipes_path, class: "btn btn-primary", id: "find-recipies" %> -->
    </div></div>
    </div>
  <!-- </div> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</div>
<%
  @ingredient_types.each_with_index do |ingredient, index|
    @ingredient_types[index][:image] = asset_path(ingredient[:image])
  end
%>
<div id="ingredients_data" data-markers="<%= @ingredient_types.to_json %>"></div>
