<div class="landing bg-white">
  <div class="images">
    <%=  image_tag("landing/img1.jpg", id: "img1") %>
    <%=  image_tag("landing/img2.jpg", id: "img2") %>
    <%=  image_tag("landing/img3.jpg", id: "img3") %>
    <%=  image_tag("landing/img4.jpg", id: "img4") %>
  </div>
  <div class="text">
    <h1>Egg & Flour</h1>
    <h2>Like to cook?</h2>
    <h3>Input your ingredients and cook with people around you!</h3>
    <a class="btn btn-primary" href="#choose-ingredients">Start Cooking</a>
  </div>
</div>
<div id="choose-ingredients">
  <div id="category-circle">
    <div class="text-content">
        <h2>Select your ingredients and start Cooking.</h2>
        <a  class="btn btn-primary" id="find-recipies">Find Recipe</a>
      </div>
    <div class="checkboxes">

    </div>
  </div>
</div>
<%
@ingredient_types.each_with_index do |ingredient, index|
  @ingredient_types[index][:image] = asset_path(ingredient[:image])
end
%>
<!-- Footer -->
<div class="home-page-footer">
  <div class="section-colums">
    <div class="column">
      <div class="footer-section">
        <div class="title">About
        </div>
        Something
      </div>
    </div>
    <div class="flex-expander"></div>
    <div class="column">
       <div class="footer-section">
        Follow us
      </div>
    </div>
  </div>
</div>
<div id="ingredients_data" data-ingredients="<%= @ingredient_types.to_json %>"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
