<section class="section-space">
    <div class="landing bg-white">
      <div class="images">
        <%=  image_tag("landing/img1.jpg", id: "img1") %>
        <%=  image_tag("landing/img2.jpg", id: "img2") %>
        <%=  image_tag("landing/egg_img5.png", id: "img3") %>
        <%=  image_tag("landing/img4.jpg", id: "img4") %>
      </div>
      <div class="text">
        <h1>Egg & Flour</h1>
        <h3>Like to cook?<br>Share ingredients and<br>cook with people around you!</h3>
        <a class="btn btn-primary" href="#choose-ingredients">Start Cooking</a>
      </div>
    </div>
</section>

<section class="section-space">
<div class="container">
  <h2 id="icons-header">How do we do it?</h2>
  <div class="bottom-line"></div>
 <div class="process">
    <div class="landing-icons">
     <%= image_tag "landing/landing_icon1.png", alt: "choose your basket!", class: "icons" %>
     <h3>Pick your basket</h3>
     <p>Choose the ingredients you have at home and want to cook with! Don't waste ingredients, save the world!</p>
   </div>
   <div class="landing-icons">
     <%= image_tag "landing/whisk.png", alt: "alttext", class: "icons" %>
     <h3>Whisk it up</h3>
     <p>Based on the ingredients you've chosen, we'll give you some recipes you can cook with other people around your area! </p>
   </div>
   <div class="landing-icons" id="pasta">
     <%= image_tag "landing/spaghetti.png", alt: "alttext", class: "icons" %>
     <h3>Make some pasta</h3>
     <p>When we combine their eggs and your flour, you can make some great recipes together!</p>
   </div>
   <div class="landing-icons">
     <%= image_tag "landing/dinner.png", alt: "alttext", class: "icons" %>
     <h3>Cook a meal</h3>
     <p>You've both chosen some of the same recipes and we've brought you together, cook a bomb meal!</p>
   </div>
 </div>
</div>
</section>

<section>
  <div id="choose-ingredients">
    <div id="category-circle" class="d-flex">
      <div class="text-content">
          <h2 style="margin-left: 18px;
    margin-top: 10px;">Select your ingredients and start cooking.</h2>

        </div>
      <div class="checkboxes">

      </div>
    </div>
  </div>
<%
  @ingredient_types.each_with_index do |ingredient, index|
    @ingredient_types[index][:image] = asset_path(ingredient[:image])
  end
%>
</section>

<div class="sticky-bar" style="display: none;">
  <div class="container d-flex justify-content-end">
    <div class="text-container">
      <h5 class="display"></h5>
    </div>
    <a  class="btn btn-primary" id="find-recipies">Find Recipe (0/2)</a>
  </div>
</div>
<!-- Footer -->
<section>
  <div class="home-page-footer">
    <div class="section-colums">
      <div class="column">
        <div class="footer-section">
          <div class="title">About us
          </div>
          <a class="footer-link p1-text" href="">The Team</a>
          <a class="footer-link p1-text" href="">The Project</a>
          <a class="footer-link p1-text" href="">Our socials</a>
        </div>
      </div>
      <div class="flex-expander d-flex">
        <img class="egg-footer" src="https://i.kinja-img.com/gawker-media/image/upload/s--lqqMZ1_---/c_scale,f_auto,fl_progressive,q_80,w_800/vc1dbgnsw7wqkvunqgfb.jpg" alt="Nice Egg">
      </div>
      <div class="column">
         <div class="footer-section">
          <a class="footer-link" href="https://github.com/Niklasjkd/egg-and-flour">Github</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="ingredients_data" data-ingredients="<%= @ingredient_types.to_json %>"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
